/*------ Import from Google Fonts -------*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,700&family=Roboto&display=swap');

/*------ Global Styling -------*/
* {
    padding: 0;
    margin: 0;
    font-size: 10px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*------ Colors -------*/

#bg-header-color,
#bg-color-footer {
    background-color: #9FD1D9;
}

/*------ Logo -------*/
#logo {
    font-family: "Playfair Display", cursive;
    font-weight: 700;
    font-style: italic;
    font-size: 3.8rem;
    color: #0A0F10;
    padding: 0;
    margin-left: .5rem;
}

/*------ Headings/Fonts -------*/

.recipes-heading {
    font-family: "Playfair Display";
    font-size: 3.2rem;
    font-style: italic;
    margin-bottom: 1.5rem;
    text-align: center;
}

.recipe-title {
    font-family: "Playfair Display";
    font-size: 2.4rem;
    font-style: italic;
    text-align: center;
}

.card-sub-heading {
    font-size: 1rem;
}

.card-text {
    font-size: 1.6rem;
}

.page-heading {
    font-family: "Playfair Display";
    font-size: 3.2rem;
    font-style: italic;
    margin: 1.5rem auto; 
    text-align: center;
}

/*------ Flash Messages -------*/

.flashes {
    line-height: 2;
    margin: 1rem auto;
}


/*------ Buttons -------*/

.buttons {
    display: flex;
    justify-content: center;
}

.delete-button {
    background-color: #F4CFCF;
    margin: 1rem;
    width: 6rem;
    border: .1rem solid #7f8487;
}

.edit-button {
    background-color: #CFEFF4;
    margin: 1rem;
    width: 6rem;
    border: .1rem solid #7f8487;
}

/*------ Navigation -------*/
#nav-menu {
    margin-left: auto;
    font-size: 3rem;
}

#nav-menu .nav-link {
    font-size: 1.8rem;
}

.nav-item {
    padding-left: 1.2rem;
}

.navbar-toggler {
    margin-right: 1rem;
}

.navbar {
    padding: 0;
}

/*------ Hero Banner -------*/

#hero-image {
    height: 18vh;
}

.hero-image-overlay {
    background-color: rgba(68, 64, 64, .7);
    top: 15%;
    right: 10%;
    bottom: 20%;
    left: 5%;
    border-radius: 1rem;
    align-items: center;
    display: flex;
    
}

#welcome-message {
    color: #FEFFFC;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 1rem;
}

/*------ Recipe Cards -------*/

#recipes-section {
    margin-top: 2rem;
}

#recipe-cards-home {
    margin: 1rem auto;
}

.recipe-card .card {
    width: 24rem;
    margin-bottom: 3rem; 
    margin-right: auto;  
    margin-left: auto;
    border: .2px solid rgba(0,0,0,.125);
    border-radius: .5rem;
    box-shadow: 5px 10px 8px #7f8487;
}

.recipes {
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
}

.card-img-top {
    width: 90%;
    margin: 0 auto;
}

/*------ Register Page-------*/

#register-wrapper {
    margin-bottom: 2rem;
    max-width: 65vh;
    max-height: 70vh;
}

#register-image {
    max-height: 70vh;
    margin: 0 auto;
}

.image-overlay {
    background-color: rgba(196, 196, 196, .7);
    top: 15%;
    right: 20%;
    bottom: 15%;
    left: 20%;
    border-radius: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.form-input {
    margin: 1rem auto;
}

input#username:focus,
input#password:focus,
input#email:focus {
    outline-color: #71B7C2;
}

form p {
    margin: 1.5rem auto;
}

.submit-button {
    background-color: #CFEFF4;
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
    border: 1px solid #0A0F10;
    border-radius: .3rem;
    padding: .2rem .4rem;
}

/*------ Add Recipe -------*/

#add-recipe-form {
    text-align: center;
}

.add-recipe {
    width: 85%;
    font-size: 1.6rem;
    padding: .3rem;
}

/*------ Single Recipe Page -------*/

.recipe-image {
    width: 100%;
    margin-bottom: 1rem;
}

.recipe-list-item {
    white-space: pre-wrap;
    list-style: none;
}

.recipe-added-by {
    font-size: 1.2rem;
    text-align: right;
    color: #596264;
    font-style: italic;
}

.fas {
    color: #596264;
}


/*------ Footer -------*/

.footer {
    min-height: 5.5rem;
    margin-top: auto;
}

#social-icon-links {
    list-style: none;
    text-align: right;
    padding-top: 1rem;
}

#social-icon-links li {
    display: inline;
    font-size: 2rem;
}

#social-icon-links li a {
    text-decoration: none;
}

#social-icon-links .fab {
    font-size: 2rem;
    padding: 1rem;
    color:  #3D3D3D;
}

/*------------- Media Queries -------------*/
/*-- Small Screen--*/
@media only screen and (min-width: 375px) {

}

/*-- Medium Screen--*/

@media only screen and (min-width: 768px) {
    
    .hero-image-overlay {
        top: 15%;
        right: 30%;
        bottom: 35%;
        left: 5%;
    }

    #welcome-message {
        font-size: 2.2rem;
        padding: 1rem;
    }

    #hero-image {
        height: 22vh;
    }

    #recipes-section {
        margin-top: 3rem;
    }
    
    .recipe-card .card {
        width: 23rem;
    }
}

/*-- Large Screen--*/
@media only screen and (min-width: 1030px) {

    #logo {
        font-size: 5rem;
    }

    #hero-image {
        height: 35vh;
    }

    .hero-image-overlay {
        top: 25%;
        bottom: 45%;
    }

    #welcome-message {
        font-size: 2.4rem;
        padding: .5rem;
    }

    #recipes-section {
        margin-top: 3rem;
    }

    .recipe-card .card {
        width: 28rem;
    }

}

/*-- Extra Large Screen--*/
@media only screen and (min-width: 1200px) {
     
    #nav-menu {
        margin-right: 2rem;
    }
    
    #hero-image {
        height: 45vh;
    } 
}