{% extends "base.html" %}

{% block nav_add_recipe %}active{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- Page Heading -->
                <h2 class="page-heading heading">Add Recipe</h2>
            </div>
        </div>
   
        <form id="add-recipe-form" method="POST" action="{{ url_for('add_recipe')}}">
            <!-- Recipe Name -->
            <div class="row form-section">
                <div class="col-12">
                    <label for="recipe_name" class="form-label">Recipe Name:</label>
                </div>
                <div class="col-12 form-recipe-name form-input">
                    <input id="recipe_name" name="recipe_name" type="text" minlength="1" maxlength="45"
                        pattern="^[a-zA-Z0-9_][a-zA-Z0-9_ &]*[a-zA-Z0-9_]{1,45}$" class="add-recipe input-field validate" placeholder="Recipe Name" required>
                </div>
            </div>
            <!-- Recipe Description -->
            <div class="row form-section">
                <div class="col-12">
                    <label for="recipe_description" class="form-label">Recipe Description:</label>
                </div>
                <div class="col-12 form-recipe-name form-input">
                    <textarea name="recipe_description" id="recipe_description" class="add-recipe input-field validate"
                    placeholder="Recipe description" minlength="5" maxlength="150" required></textarea>
                </div>
            </div>
            <!-- Category Select -->
            <div class="row form-section">
                <div class="col-sm-12 col-md-3">
                    <label for="category_name" class="form-label">Select Category:</label>
                </div>
                <div class="col-sm-12 col-md-6 category-select form-input">
                    <select id="category_name" class="add-recipe input-field validate" name="category_name" form="add-recipe-form" required>
                        <option value="" class="selected disabled">Select Category:</option>
                        {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
                <!-- Prep Time -->
            <div class="row form-section">
                <div class="col-sm-6 col-md-3">
                    <label for="prep_time" class="form-label">Prep Time:</label>
                    <div id="prep-time-help" class="form-text help-text">Enter time & mins eg: 30 mins
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 form-prep form-input">
                    <input id="prep_time" name="prep_time" type="text" minlength="3" maxlength="10"
                        pattern="^[a-zA-Z0-9_][a-zA-Z0-9_ ]*[a-zA-Z0-9_]{3,10}$" class="add-recipe input-field validate" required>
                        
                </div>
                <!-- Cook Time -->
                <div class="col-sm-6 col-md-3">
                    <label for="cook_time" class="form-label">Cook Time:</label>
                    <div id="cook-time-help" class="form-text help-text">Enter time & mins eg: 30 mins
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 form-prep form-input">
                    <input id="cook_time" name="cook_time" type="text" minlength="3" maxlength="10"
                        pattern="^[a-zA-Z0-9_][a-zA-Z0-9_ ]*[a-zA-Z0-9_]{3,10}$" class="add-recipe input-field validate" required>
                        
                </div>
            </div>
            <!-- Ingredients -->
            <div class="row form-section">
                <div class="col-12">
                    <label for="ingredients" class="form-label">Ingredients:</label>
                </div>
                <div class="col-12">
                    <div id="ing-help" class="form-text help-text">One Ingredient per line
                    </div>
                </div>
                <div class="col-12 form-ingredients form-input">
                    <textarea name="ingredients" id="ingredients" class="add-recipe input-field validate" rows="8" placeholder="Ingredients"
                        required></textarea>
                </div>
            </div>
            <!-- Method -->
            <div class="row form-section">
                <div class="col-12">
                    <label for="method" class="form-label">Method:</label>
                </div>
                <div class="col-12">
                    <div id="method-help" class="form-text help-text">Separate each step with a blank line
                    </div>
                </div>
                <div class="col-12 form-method form-input">
                    <textarea name="method" id="method" class="add-recipe input-field validate" rows="12" placeholder="Method" required></textarea>
                </div>
            </div>
            <!-- Recipe Image URL -->
            <div class="row form-section">
                <div class="col-12">
                    <label for="recipe_url" class="form-label">Image URL:</label>
                </div>
                <div class="col-12 form-image-url form-input">
                    <input id="recipe_url" name="recipe_url" type="text" class="add-recipe input-field validate"
                        placeholder="Recipe Image URL" required>
                </div>
            </div>
            <!-- Submit Button -->
            <div class="row">
                <div class="col sub">
                    <a href="{{ url_for('profile', username=session['user']) }}" class="btn cancel-button button">Cancel</a>
                    <input class="submit-button button" type="submit" value="Add Recipe">
                </div>
            </div>
        </form>

    </div>
{% endblock %}