{% extends "base.html" %}
{% block content %}

    <h3 class="recipes-heading">Add Category</h3>
    
    <div class="container">
        <form id="add-cat-form" method="POST" action="{{ url_for('add_category') }}">
            <input id="category_name" name="category_name" type="text" minlength="3" maxlength="12"
                pattern="^[a-zA-Z0-9_][a-zA-Z0-9_ ]*[a-zA-Z0-9_]{3,10}$" class="add_cat validate"
                placeholder="Add Category..." required>
            
                <button type="submit" class="submit-button">Add</button>          
        </form>
    </div>
    

{% endblock %}