{% extends "base.html" %}
{% block content %}

    <h3 class="page-heading heading">Add Category</h3>
    
    <div class="container manage-categories">
        <form method="POST" action="{{ url_for('add_category') }}">
            <div class="row center-it">
                <div class="col col-md-8 col-lg-6">
                    <label for="query" class="form-label">Add Category:</label>
                </div>
            </div>
            <div class="row center-it">
                <div class="col col-md-8 col-lg-6">
                    <input id="category_name" name="category_name" type="text" minlength="3" maxlength="12"
                        class="add_cat validate" placeholder="Add Category..." required>
                </div>
            </div>
            <div class="row">
                <div class="col buttons">
                    <button type="submit" class="submit-button button">Add</button>
                </div>
            </div>
        </form>
    </div>
    

{% endblock %}