{% extends "base.html" %}
{% block content %}

    <section id="all-recipes-section">
        <div class="container">

            <div class="row">
                <div class="col">
                    <h2 class="page-heading">Recipes</h2>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <form action="{{ url_for('search_recipes') }}" method="POST">
                        <div class="row">
                            <div class="col-8">
                                <label for="query" class="cat-display"><i class="fas fa-search"></i></label>
                                <input id="query" name="query" type="text" minlength="3" class="add_cat validate" placeholder="Search..." required>
                            </div>
                            <div class="col buttons">
                                <a href="{{ url_for('all_recipes') }}" class="btn delete-button">Reset</a>
                                <button type="submit" class="submit-button">
                                    <i class="fas fa-search"></i> Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
            {% if recipes.count() > 0 %}
            <div class="row recipe-card recipes">
                {% for recipe in recipes %}
                <div class="col-12 col-md-4">
                    
                    <div class="card">  
                        <img src="{{ recipe.recipe_url }}" class="card-img-top" alt="...">
                        <div class="card-body">                 
                            <h4 class="recipe-title"><a href="{{ url_for('recipe', recipe_id=recipe._id) }}">{{ recipe.recipe_name }}</a></h4>
                            <h5 class="card-sub-heading">
                                <i class="fas fa-stopwatch"></i> Prep time: {{ recipe.prep_time }} Cook time: {{ recipe.cook_time }}
                            </h5>
                            <p class="card-text">{{ recipe.recipe_description }}
                            </p>
                            <p class="card-text">Added by: {{ recipe.added_by }}
                            </p> 
                            <!-- Edit/Delete buttons -->
                            {% if session.user|lower == recipe.added_by|lower %}
                            <div class="buttons">
                                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn delete-button">Delete</a>
                                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn edit-button">Edit</a>  
                            </div>
                            {% endif %}
                        </div> 
                    </div>
                    
                </div> 
                {% endfor %}
            </div>
            {% else %}
                <h3>No results found</h3>
            {% endif %}

        </div>
    </section>

{% endblock %}
