{% extends "base.html" %}

{% block nav_contact %}active{% endblock %}

{% block content %}
    <!-- Email confirm message -->
    <div id="email-confirm-msg" class="flash flash-msg">
    </div>

    <h2 class="page-heading">Contact Us!</h2>

    <div id="form-wrapper" class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/contact-image.png') }}" id="form-bg-image"
                        class="card-img" alt="Stack of french toast layered with blueberries, bananas and maple syrup">
                    <div id="contact-ol" class="card-img-overlay image-overlay">
                        <form id="contact-form">
                            <!-- Name -->
                            <div class="row">
                                <div class="col-12">
                                    <label for="user_name" class="form-label">Name:</label>
                                </div>
                                <div class="col form-input">
                                    <input id="user_name" name="user_name" type="text" class="validate input-field" placeholder="Name" required>
                                </div>
                            </div>
                            <!-- Email -->
                            <div class="row">
                                <div class="col-12">
                                    <label for="user_email" class="form-label">Email:</label>
                                </div>
                                <div class="col form-input">
                                    <input id="user_email" name="user_email" type="email" class="validate input-field" placeholder="Email" required>
                                </div>
                            </div>
                            <!-- Message -->
                            <div class="row">
                                <div class="col-12">
                                    <label for="message" class="form-label">Message:</label>
                                </div>
                                <div class="col form-input">
                                    <textarea name="message" id="message" rows="6" class="input-field" placeholder="Message..." required></textarea>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col sub">
                                    <input class="submit-button" type="submit" value="Send">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js">
</script>
<script type="text/javascript"> 
        (function(){
            emailjs.init("user_K634cTmyvbT1ZBLjKZdzA");
        })();
 </script>
{% endblock %}


