{% extends "base.html" %}
{% block content %}

    <!-- Page Heading -->
    <h3 class="page-heading heading">Edit user</h3>
    <!-- Edit User Form -->
    <div class="container manage-categories">
        <form id="add-cat-form" method="POST" action="{{ url_for('edit_user', user_id=user._id) }}">
            <!-- Username -->
            <div class="row center-it">
                <div class="col col-md-8 col-lg-6">
                    <label for="username" class="cat-display">Username:</label>
                </div>
            </div>
            <div class="row center-it">
                <div class="col col-md-8 col-lg-6">
                    <input id="username" name="username" type="text" minlength="3" maxlength="12"
                        value="{{ user.username }}" pattern="^[a-zA-Z0-9_][a-zA-Z0-9_ ]*[a-zA-Z0-9_]{3,10}$" class="add_cat validate" required>
                </div>
            </div> 
            <!-- Email -->
            <div class="form-section">
                <div class="row center-it">
                    <div class="col col-md-8 col-lg-6">
                        <label for="email" class="cat-display">Email:</label>
                    </div>
                </div> 
                <div class="row center-it">
                    <div class="col col-md-8 col-lg-6">
                        <input id="email" name="email" type="email" class="validate add_cat" value="{{ user.email }}" required>
                    </div>
                </div>
            </div>
            <!-- Cancel/Edit Buttons -->
            <div class="row">
                <div class="col buttons">
                    <a href="{{ url_for('manage_users') }}" class="btn cancel-button button">Cancel</a>
                    <button type="submit" class="submit-button button">Edit</button>
                </div> 
            </div>       
        </form>
    </div>
    

{% endblock %}