{% extends "base.html" %}

{% block nav_home %}active{% endblock %}

{% block content %}

    <!-- Hero Banner -->
    <!-- Bootstrap Card, with modifications -->
    <div class="card">
        <img src="{{ url_for('static', filename='images/hero-image.jpg') }}" id="hero-image" class="card-img" alt="Three plates of steak and salad laid out on a table">
        <div class="card-img-overlay hero-image-overlay">
            <p id="welcome-message">
                Welcome to Recipe Box a place to keep, find & share your favourite recipes
            </p>
        </div>
    </div>

    <!-- Recipes -->
    <section id="recipes-section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <!-- Heading -->
                    <h2 class="page-heading heading">Latest Recipes</h2>
                </div>
            </div>
            <!-- Bootstrap Card with modifications - Recipe Card -->
            <div class="row row-cols-1 row-cols-md-3">
                {% for recipe in latest_recipes %}
                <div class="col-12 col-md-4 recipes">
                    <div class="card recipe-card h-100">
                        <!-- Recipe Image -->
                        <img src="{{ recipe.recipe_url }}" class="card-img-top" alt="{{ recipe.recipe_name }}">
                        <div class="card-body">
                            <!-- Recipe Name -->
                            <h3><a class="recipe-title heading capitalize" href="{{ url_for('recipe', recipe_id=recipe._id) }}">{{ recipe.recipe_name }}</a>
                            </h3>
                            <!-- Timings -->
                            <div class="timings">
                                <i class="fas fa-stopwatch"></i> <strong>Prep time:</strong> {{ recipe.prep_time }} <strong>Cook time:</strong> {{recipe.cook_time }}
                            </div>
                            <!-- Description -->
                            <p class="card-text">{{ recipe.recipe_description }}
                            </p>
                            <!-- Added By -->
                            <p class="recipe-added-by">Added by: {{ recipe.added_by }}
                            </p>
                            <!-- Edit/Delete buttons -->
                            {% if session.user|lower == recipe.added_by|lower %}
                            <div class="buttons">
                                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn button delete-button">Delete</a>
                                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn button edit-button">Edit</a>  
                            </div>
                            {% endif %}
                        </div>  
                    </div>
                </div>
                {% endfor %}
            </div>    
        </div> 
    </section>

{% endblock %}