{% extends "base.html" %}
{% block content %}

    <h2 class="page-heading">Manage Categories</h2>
    
    <div class="container">
        <div class="row">
            <div class="col-3">
                <a href="{{ url_for('add_category') }}" class="btn add-button">Add Category</a>
            </div>
        </div>
    
        <h2 class="recipes-heading">All Categories</h2>
        {% for category in categories %}
            <div class="row">
                <div class="col-3">
                    <span>{{ category.category_name }}</span>
                </div>
                <div class="buttons">   
                    <a href="" class="btn edit-button">Edit</a>
                    <a href="" class="btn delete-button">Delete</a> 
                </div>
            </div>
        {% endfor %}
    
    </div>
{% endblock %}