{% extends "base.html" %}
{% block content %}

    <h2 class="page-heading capitalize">{{ username }}'s Profile</h2>
    
    <div class="container">
        <div class="heading capitalize">{{ username }}'s Recipes</div>
        <!-- Recipe Card -->
        <div class="row row-cols-1 row-cols-md-3">
            {% for recipe in recipes %}
                {% if session.user|lower == recipe.added_by|lower %}
                    <div class="col-12 col-md-4 recipes">
                        <div class="card  recipe-card h-100">
                            <img src="{{ recipe.recipe_url }}" class="card-img-top" alt="{{ recipe.recipe_name }}">
                            <div class="card-body">
                                <h3><a href="{{ url_for('recipe', recipe_id=recipe._id) }}" class="recipe-title capitalize">{{
                                        recipe.recipe_name }}</a></h3>
                                <div class="timings">
                                    <i class="fas fa-stopwatch"></i> <strong>Prep time:</strong> {{ recipe.prep_time }} <strong>Cook time:</strong> {{recipe.cook_time }}
                                </div>
                                <p class="card-text">{{ recipe.recipe_description }}
                                </p>
                                <p class="recipe-added-by">Added by: {{ recipe.added_by }}
                                </p>
                                <!-- Edit/Delete buttons -->
                                <div class="buttons">
                                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn delete-button">Delete</a>
                                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn edit-button">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>     
    </div>
{% endblock %}