{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="page-heading heading capitalize">{{ recipe.recipe_name }}</h2>
            </div>
        </div>
        <!-- Recipe image -->
        <div class="row center-it">
            <div class="col-10 col-md-6">
                <img src="{{ recipe.recipe_url }}" class="recipe-image" alt="{{ recipe.recipe_name }}">
            </div>
        </div>
        <!-- Recipe timings -->
        <div class="row">
            <div class="col">
                <div class="recipe-info">
                    <i class="fas fa-stopwatch recipe-info"></i> <strong class="recipe-info">Prep time:</strong> {{ recipe.prep_time }} <strong class="recipe-info">Cook time:</strong> {{recipe.cook_time }}
                </div>
            </div>
        </div>
        <!-- Recipe category -->
        <div class="row">
            <div class="col">
                <div class="recipe-info">
                    <i class="fas fa-utensils recipe-info"></i><strong class="recipe-info"> {{ recipe.category_name }}</strong>
                </div>
            </div>
        </div>  
        <!-- Recipe description -->
        <div class="row">
            <div class="col">
                <p class="description">{{ recipe.recipe_description }}
                </p>
            </div>
        </div>
        <!-- Recipe ingredients -->
        <div class="row">
            <div class="col">
                <h3 class="recipe-sub-heading heading">Ingredients</h3>
            </div>
        </div>
        <div class="row">
            <div class="col recipe-list">
                <ul>
                    {% for ingredient in recipe.ingredients %}
                        <li class="recipe-list-item">{{ ingredient }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!-- Recipe method -->
        <div class="row">
            <div class="col">
                <h3 class="recipe-sub-heading heading">Method</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul>
                {% for meth in recipe.method %}
                    <li class="recipe-list-item">{{ meth }}</li>
                {% endfor %}
                </ul>  
            </div>
        </div>
        <!-- Recipe added by -->
        <div class="row">
            <div class="col">
                <div class="recipe-added-by">Added by: {{ recipe.added_by }}</div>
                </div>
            </div>
        </div>
        <!-- Edit/Delete buttons -->
        <div class="buttons">
            <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn delete-button button">Delete</a>
            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn edit-button button">Edit</a>  
        </div>

{% endblock %}

