{% extends "base.html" %}

{% block nav_register %}active{% endblock %}

{% block content %}

    <h2 class="page-heading heading">Register</h2>
    <div id="form-wrapper" class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/register-image.png') }}" id="form-bg-image"
                        class="card-img" alt="Bowl of salad with avocado dressing">
                    <div id="reg-ol" class="card-img-overlay image-overlay">
                        <form id="register-form" method="POST" action="{{ url_for('register') }}">
                            <!-- username -->
                            <div class="row form-section">
                                <div class="col-12">
                                    <label for="username" class="form-label">Username:</label>
                                </div>
                                <div class="col-12">
                                    <div id="username-help" class="form-text help-text">Must be 5-15 charcters, letters or numbers only
                                    </div>
                                </div>
                                <div class="col-12 form-username form-input">
                                    <input id="username" name="username" type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="input-field validate" autocomplete="username" placeholder="Enter username" required>
                                </div>
                            </div>
                            <!-- email -->
                            <div class="row form-section">
                                <div class="col-12">
                                    <label for="email" class="form-label">Email:</label>
                                </div>
                                <div class="col form-email form-input">
                                    <input id="email" name="email" type="email" class="input-field validate" placeholder="Enter email" required>
                                </div>
                            </div>
                            <!-- password -->
                            <div class="row form-section">
                                <div class="col-12">
                                    <label for="username" class="form-label">Password:</label>
                                </div>
                                <div class="col-12">
                                    <div id="password-help" class="form-text help-text">Must be 5-15 charcters, letters or numbers only
                                    </div>
                                </div>
                                <div class="col form-password form-input">
                                    <input id="password" name="password" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$"
                                        class="input-field validate" autocomplete="new-password" placeholder="Enter password" required>
                                </div>
                            </div>
                            
                            <div class="sub">
                                <input class="submit-button button" type="submit" value="Register">
                                
                                <p>Already Registered? <a href="{{ url_for('login') }}">Log In</a>
                                </p>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}